.header-page {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 67px;
    .header {
      &__left {
        display: flex;
        align-items: center;
        font-family: system-ui;
        .logo-page {
          display: flex;
          align-items: center;
          color: #00fa00;
          border-right: 1px solid rgba(255, 255, 255, 0.12);
          height: 100%;
          padding-right: 15px;
          &__img {
            margin-right: 14px;
            width: 45px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          h1 {
            margin: 0;
            font-size: 27px;
            font-weight: 300;
            white-space: nowrap;
          }
        }
        .menu-items {
          display: flex;
          &__items {
            display: flex;
            list-style: none;
            color: #ffffffa6;

            li {
              padding-left: 40px;
              font-size: 14px;
              font-weight: 400;
              cursor: pointer;
              a {
                text-decoration: none;
                &:hover {
                  text-decoration: none;
                  color: #ffffffa6;
                }
              }
            }
            li:nth-child(1) {
              padding-left: 0;
            }
          }
        }
      }
      &__right {
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        width: 410px;

        .select-input {
          display: flex;
          align-items: center;
          #EN {
            background-color: #171a17;
            color: white;
            border-color: #171a17;
            color: #ffffffa6;
            font-size: 15px;
            width: 120%;
          }
          #price {
            background-color: #3e3e3e4f;
            padding: 12px 0;
            border-radius: 30px;
            border-color: #ffffff1f;
            padding-left: 47px;
            padding-right: 12px;
            color: #ffffffeb;
            width: 144px;
          }
          .drd {
            position: relative;
            right: 1.5rem;
            display: flex;
            width: 9px;
          }
          .img-cg {
            position: absolute;
            width: 32px;
            height: 25px;
            padding-left: 10px;
          }
        }
        .priceInput {
          select {
            appearance: none;
          }
        }
        .icon-search {
          display: flex;
          align-items: center;
          .icon-avatar {
            margin-right: 5px;
            padding: 2px;
            background-color: #fdcc7bd6;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.menuicon {
  display: none !important;
}
.menu-res {
  position: fixed;
  width: 2000px;
}

@media (max-width: 1400px) {
  .header-page {
    &__container {
      .header {
        &__left {
          .menu-items {
            display: flex;
            &__items {
              li {
                padding-left: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .header-page {
    &__container {
      .header {
        &__left {
          .menu-items {
            display: flex;
            &__items {
              li {
                padding-left: 14px;
              }
            }
          }
        }
        &__right {
          width: 350px;
        }
      }
    }
  }
}
@media (max-width: 1046px) {
  .header-page {
    &__container {
      .header {
        &__left {
          .menu-items {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .header-page {
    &__container {
      .header {
        &__left {
          .menu-items {
            display: none;
            &__items {
              li {
                padding-left: 14px;
              }
            }
          }
        }
        &__right {
          width: 336px;
          .avatar {
            // margin-right: 20px;
          }
          .menuicon {
            padding-left: 10px;
            display: block !important;
          }
          .menu-items__items {
            display: none;
          }
          .header__right {
            width: 240px;
          }
          .searchs {
            display: none;
          }
          .nofication {
            display: none;
          }
          .EN {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .header-page {
    &__container {
      .header {
        &__left {
          margin-right: 10px;
          .logo-page {
            &__img {
              width: 6.654vw;
            }
            h1 {
              font-size: 4vw;
            }
          }
          .menu-items {
            display: none;
            &__items {
              li {
                padding-left: 14px;
              }
            }
          }
        }
        &__right {
          width: 336px;
          .select-input {
            #price {
              padding-left: 8.654vw;
              padding-right: 1.308vw;
              width: 28vw;
              font-size: 10px;
            }
            .img-cg {
              width: 16px;
              height: 13px;
            }
          }
          .icon-search {
            width: 5vw;
            padding-right: 20px;
          }
          .menuicon {
            padding: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .header-page {
    &__container {
      .header {
        &__left {
          padding-right: 10px;
          .logo-page {
            &__img {
              margin-right: 5px;
              display: flex;
            }
          }
          .menu-items {
            display: none;
            &__items {
              li {
                padding-left: 14px;
              }
            }
          }
        }
        &__right {
          .select-input {
            #price {
              padding-left: 8.654vw;
              padding-right: 0.308vw;
              width: 32vw;
              font-size: 9px;
            }
          }
          .priceInput {
            select {
            }
          }
        }
      }
    }
  }
}
