<div class="header-page">
  <div class="header-page__container container">
    <!-- LEFT -->
    <div class="header__left">
      <!-- LOGO PAGE -->
      <div class="logo-page">
        <div class="logo-page__img" (click)="route()">
          <img src="../../../assets/images/logo.png" />
        </div>
        <h1 (click)="route()">GENG GAMER</h1>
      </div>
      <!-- MENU ITEMS -->
      <div class="menu-items">
        <ul class="menu-items__items">
          <li (click)="route()">Shop</li>
          <li (click)="route()">Tournaments</li>
          <li (click)="route()">Matchmaking</li>
          <li (click)="route()">Leaderboard</li>
          <li (click)="route()">News</li>
        </ul>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="header__right">
      <!-- SELECT LANGUAGE -->
      <div class="select-input">
        <select name="cars" id="EN" class="EN">
          <option value="volvo">EN</option>
          <option value="saab">Vi</option>
        </select>
      </div>
      <!-- ICON -->
      <div class="icon-search searchs">
        <img src="../../../assets/images/search.png" />
      </div>
      <div class="icon-search nofication">
        <svg
          width="14"
          height="16"
          viewBox="0 0 14 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.02022 8.97066H12.8605C13.255 8.97066 13.5745 9.29017 13.5757 9.68351V11.2361C13.5757 11.6306 13.2562 11.9501 12.8617 11.9501H1.13881C0.74432 11.9501 0.424805 11.6306 0.424805 11.2361V9.68351C0.424805 9.67972 0.425058 9.67569 0.425327 9.6714C0.425632 9.66653 0.425958 9.66134 0.425958 9.65583C0.426522 9.64906 0.42681 9.64257 0.427092 9.63623C0.427387 9.62958 0.427675 9.6231 0.428265 9.61661C0.430572 9.58892 0.435186 9.56124 0.440953 9.53356C0.442107 9.52664 0.444414 9.51856 0.446721 9.51049C0.452488 9.48742 0.459409 9.46435 0.467484 9.44128C0.467936 9.43992 0.468388 9.43852 0.46885 9.43709C0.47074 9.43123 0.472776 9.42493 0.475558 9.41936C0.487093 9.39052 0.499781 9.36284 0.514777 9.33631C0.51532 9.33549 0.515928 9.33462 0.51657 9.33369C0.518651 9.33068 0.521088 9.32715 0.522851 9.32362C0.536693 9.2994 0.552842 9.27633 0.570144 9.25326C0.571737 9.25007 0.57388 9.24744 0.576193 9.24459C0.577229 9.24332 0.578301 9.242 0.579372 9.24057C0.598981 9.21404 0.620897 9.19097 0.64512 9.1679L0.648581 9.16444C0.657809 9.15637 1.70171 8.14937 1.70171 7.01319V5.29796C1.70171 2.37618 4.07905 0 6.99967 0C9.9203 0 12.2976 2.37618 12.2976 5.29796V7.00627C12.2976 7.40076 11.9781 7.72028 11.5836 7.72028H9.77957C9.38508 7.72028 9.06556 7.40076 9.06556 7.00627V5.29796C9.06556 4.15947 8.13931 3.23207 6.99967 3.23207C5.86003 3.23207 4.93263 4.15831 4.93263 5.29796V6.96936C4.93263 7.7099 4.51276 8.4066 4.02022 8.97066ZM8.59742 14.4024C8.59742 15.2847 7.88216 16 6.99984 16C6.11753 16 5.40227 15.2847 5.40227 14.4024C5.40227 13.5201 6.11753 12.8048 6.99984 12.8048C7.88216 12.8048 8.59742 13.5201 8.59742 14.4024Z"
            fill="white"
            fill-opacity="0.6"
          />
        </svg>
      </div>
      <div class="icon-search avatar">
        <img class="icon-avatar" src="../../../assets/images/avatar.png" />
        <img src="../../../assets/images/dropdown.png" />
      </div>
      <div class="select-input priceInput">
        <img class="img-cg" src="../../../assets/images/icon-gc.png" />
        <select name="cars" id="price">
          <option value="volvo">1,000,000</option>
        </select>
        <div class="drd">
          <img src="../../../assets/images/dropdown.png" />
        </div>
      </div>
      <div class="icon-search menuicon" (click)="onShow()">
        <img src="../../../assets/images/menu.png" />
      </div>
      <!-- <div class="menu-res" [style.display]="show ? 'flex' : 'none'">
        <div class="menu-items">
          <ul class="menu-items__items">
            <li>Shop</li>
            <li>Tournaments</li>
            <li>Matchmaking</li>
            <li>Leaderboard</li>
            <li>News</li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
