<div class="slider-baner">
  <!-- SLIDER -->
  <div
    class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'
  >
    <div class="gallery-cell" *ngFor="let data of dataImg">
      <img [src]="data" />
    </div>
  </div>
  <!-- BOX TEXT -->
  <div class="box-text">
    <h3>Shop</h3>
    <h1>
      Welcome to Geng Gamer. ​Malaysia's premier Shopfront<br />
      for games top-up and esports platform.
    </h1>
    <div class="btn-visit">
      <button type="text">VISIT THE SHOP</button>
    </div>
  </div>
</div>
