/* external css: flickity.css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.slider-baner {
  background-color: #171a17;
  .flickity-viewport {
    height: 20.833vw !important;
    background-color: #171a17 !important;
  }

  .gallery {
    background-color: #171a17 !important;
    .gallery-cell {
      width: 66%;
      height: 22.833vw;
      margin-right: 10px;
      counter-increment: gallery-cell;
      filter: brightness(0.5);
      opacity: 0.5;
      img {
        width: 65.5vw;
        height: 23.438vw;
      }
    }
    .is-selected {
      filter: brightness(1) !important;
      opacity: 1;
    }
    .gallery-cell:before {
      display: block;
      text-align: center;
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
  }

  .box-text {
    max-width: 95%;
    color: white;
    margin: 0 auto;
    margin-top: 112px;
    font-family: system-ui;
    padding-top: 3px;
    @media screen and (max-width: 1024px) {
      margin-top: 75px;
    }
    h1 {
      font-size: 34px;
      font-family: system-ui;
      font-weight: 900;
      line-height: 1;
      padding: 15px 0;
      @media screen and (max-width: 1024px) {
        font-size: 24px;
      }
    }
    h3 {
      font-size: 16px;
      font-family: system-ui;
      font-weight: 400;
    }
    .btn-visit {
      width: 143px;
      padding-bottom: 20px;
      button {
        padding: 10px 15px;
        background-color: #00fa00;
        border-color: #00fa00;
        font-weight: bold;
        font-family: system-ui;
      }
    }
  }
}
