/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  margin: 0px;
  height: 100vh;
}
.flickity-page-dots .dot {
  background: #8de4ffc7;
  border-radius: 0;
  width: 7px;
  height: 7px;
  margin: 0 4px;
}
.flickity-button {
  color: #ffffffcf;
  height: 100%;
  background: linear-gradient(
    22deg,
    rgba(23, 26, 23, 0) 0%,
    #171a1757 100%
  ) !important;

  &:hover {
    background: hsl(0deg 0% 100% / 0%);
  }
  .flickity-button-icon {
    width: 40px !important;
    // height: 40px !important;
    @media screen and (max-width: 1024px) {
      width: 25px !important;
      height: 25px !important;
    }
  }
}
.flickity-prev-next-button.previous {
  left: 0 !important;
}
.flickity-prev-next-button {
  border-radius: 0 !important;
  @media (max-width: 1024px) {
    top: 72%;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 1350px;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 818px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 657px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 582px) {
  .container {
    width: 90%;
  }
}

@font-face {
  font-family: "Maxis";
  src: local("Maxis"), url(./assets/fonts/MAXIS___.TTF) format("truetype");
}
